main{
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.container-login{
    min-height: 100%;

    height: fit-content;
    width: 800px;

    margin-left: auto;
    margin-right: auto;

    background-color: #a9e94d; 
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-img-login{
    height: 100%;
    width: 500px;

    background-image: url(../img/img-login.svg);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;

    flex: 1;
}

.container-input-login, .container-input-cadastro{
    min-height: fit-content;

    background-color: #f1f0f0;
    border-radius: 0 12px 12px 0;

    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-input-cadastro{
    display: none;
}

.container-input-cadastro.ativo{
    display: flex;
}

.container-input-login.inativo{
    display: none;
}

.container-input-login h1, .container-input-cadastro h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.icones-redes-sociais{
    margin-top: 30px;

    font-size: 25px;

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.icones-redes-sociais i{
    transition: color 0.3s;
}

.icones-redes-sociais i:hover{
    color: #a9e94d;
    cursor: pointer;
}

.input-login{
    height: 100%;

    margin: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
}

.container-input-cadastro .input-login{
    max-width: 360px;
}

.input-elemento{
    display: flex;
    flex-direction: column;
}

.container-input-cadastro .input-elemento.input{
    width: 100%;
}

.input, .input-btn{
    margin-top: 5px;
    padding: 5px;

    border: none;
    border-radius: 6px;

    outline: none;
}

.input-btn{
    padding: 10px;

    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.input-btn:hover{
    background-color: #fff;
    color: #000;
}

.input-btn.btn-cadastro{
    background-color: #f1f0f0;
    color: #000;
    text-decoration: underline;
}

.input-btn.btn-cadastro:hover{
    color: #a9e94d;
}

@media (max-width: 880px){
    .container-login{
        width: 80vw;
        max-width: 400px;
    }

    .container-img-login{
        display: none;
    }

    .container-input-login, .container-input-cadastro{
        border-radius: 12px;
    }
}
